#header{
    text-align: center;
}

#timer-input{
width: 500px;
margin-left:  50em;

}
#input-fields{
    margin-top: 2em;
    width: 800px;
    margin-left: 1em;
}

#task-input-form{
    margin-left: 50em;
    margin-top: 5em;
margin-bottom: 3em;
}
.control-row{
    margin-bottom: 8px;
}
.main-container{
    margin-left:  50em;;
}

#timer-button{
    margin-left: 50em;
}
#user-account{
    margin-top: 10em;
    margin-left: 40em;
}
.task-list{
    margin-top: 10 em;
    margin-left: 40em;
}